{% if content is iterable %}
  {% for item in content %}

    <figure>
    {% if item[3] is defined %}
      <a href="{{ item[3] }}">
    {% endif %}

    {% if item[0] == 'image' %}
      <img src="{{ item[1] }}" alt="">

    {% elseif item[0] == 'video' %}
      <video src="{{ item[1] }}" preload="metadata" controls></video>

    {% elseif item[0] == 'text' %}
      <div>{{ item[1]|raw }}</div>

    {% endif %}

    {% if item[2] is defined %}
      <figcaption>{{ item[2] }}</figcaption>
    {% endif %}

    {% if item[3] is defined %}
      </a>
    {% endif %}
    </figure>
  {% endfor %}

{% else %}
  {{ content|raw }}
{% endif %}
