{% if content is iterable %}
  {% for item in content %}

  {% if item[3] is defined %}
    <a href="{{ item[3] }}">
  {% endif %}

    <figure>

    {% if item[2] is defined %}
      <figcaption>{{ item[2]|raw }}</figcaption>
    {% endif %}

    {% if item[0] == 'image' %}
      <img src="{{ item[1] }}" alt="">

    {% elseif item[0] == 'video' %}
      <video src="{{ item[1] }}" preload="metadata" controls></video>

    {% elseif item[0] == 'text' %}
      <div>{{ item[1]|raw }}</div>

    {% endif %}

    </figure>

  {% if item[3] is defined %}
    </a>
  {% endif %}

  {% endfor %}

{% else %}
  {{ content|raw }}
{% endif %}
