<ul>
  <li{{ active == 'postsec' ? ' class="active"' }}><div class="color_bar postsec border-color"></div><a href="#" data-submenu="submenu_career_courses">Career<br>Courses</a></li>
  <li{{ active == 'ceu' ? ' class="active"' }}><div class="color_bar ceu border-color"></div><a href="#" data-submenu="submenu_cpr_ceu">CPR / CEU</a></li>
  <li{{ active == 'about' ? ' class="active"' }}><div class="color_bar about border-color"></div><a href="/about/" data-submenu="submenu_about_us">About Us</a></li>
  <li{{ active == 'news' ? ' class="active"' }}><div class="color_bar news border-color"></div><a href="/news/">News</a></li>
  <li{{ active == 'contact' ? ' class="active"' }}><div class="color_bar contact border-color"></div><a href="/contact/{{ form_course_name ? '?p=' ~ form_course_name }}" data-submenu="submenu_contact_us">Contact Us</a></li>
  <li{{ active == 'students' ? ' class="active"' }}><div class="color_bar resources border-color"></div><a href="/students/" data-submenu="submenu_student_resources">Student<br>Resources</a></li>
</ul>
